<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934867303352-5vao7nl8e5o8kliabb2hk49ngofnhumb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934867303352-5vao7nl8e5o8kliabb2hk49ngofnhumb</string>
	<key>API_KEY</key>
	<string>AIzaSyBjtDMKSS6B84HyNjQ5P8FEIejjZTRX1nc</string>
	<key>GCM_SENDER_ID</key>
	<string>934867303352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lomaboc.Chita</string>
	<key>PROJECT_ID</key>
	<string>chita-23011</string>
	<key>STORAGE_BUCKET</key>
	<string>chita-23011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934867303352:ios:3246067ed1af0e8eaced4d</string>
	<key>DATABASE_URL</key>
	<string>https://chita-23011.firebaseio.com</string>
</dict>
</plist>